.Navbar {
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  box-shadow: 0 0 6px rgba(68, 68, 68, 0.2);
}

.Navbar ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.Navbar ul li {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9em;
}

.Navbar ul li a {
  color: white;
  text-decoration: none;
}

.Navbar a:hover {
  text-decoration-line: underline;
}